<form [formGroup]="userForm" #f="ngForm">
    <div class="form-group">
        <label class="control-label" for="firstName">First name:</label>
        <input type="text" class="form-control" id="firstName" name="firstName" 
            formControlName="firstName" required placeholder="Enter first name">
        <small class="text-danger" *ngIf="userForm.controls['firstName'].invalid">*Please enter valid name</small>
    </div>

    <div class="form-group">
        <label class="control-label" for="lastName">Last name:</label>
        <input type="text" class="form-control" id="lastName" name="lastName" 
            formControlName="lastName" required placeholder="Enter last name">
        <small class="text-danger" *ngIf="userForm.controls['lastName'].invalid">*Please enter valid name</small>
    </div>

    <div class="form-group">
        <label class="control-label" for="employeeId">Employee Id:</label>
        <input type="text" class="form-control" id="employeeId" name="employeeId" 
            formControlName="employeeId" required placeholder="Enter employee id">
        <small class="text-danger" *ngIf="userForm.controls['employeeId'].invalid">*Please enter valid number</small>
    </div>

    <div class="form-group"> 
        <button type="submit"  [disabled]="!f.valid" (click)="save()" class="btn btn-primary">Add User</button> &nbsp;
        <button type="button" class="btn btn-warning"  (click)="reset()">Reset</button>
    </div>
    <br />
    <div class="alert alert-success w-50" role="alert" *ngIf="status === Status.Added">
        User added successfully
    </div>
    <div class="alert alert-success w-50" role="alert" *ngIf="status === Status.Updated">
        User modified successfully
    </div>
    <hr />
</form>